<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio" />
    <link rel="stylesheet" href="/static/bootstrap_dark.css">
    <link rel="stylesheet" href="static/styles.css"/>
    <script src="static/script.js" defer></script>
    <title>Armstrong Labs</title>
  </head>
  <body class="dark" id="top">
    <main>
      <!-- About -->
      <div class="about center">
        <h1 style="text-align: center;">Armstrong Labs Directory</h1>
      </div>

      <!-- Projects -->
      <div class="jumbotron vertical-center">
        <div class="container text-center md-lg-off">
          <div class="row">
            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Ethan's Portfolio</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                  https://ethan.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Upload Server</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://upload.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Webhook Server</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://hooks.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Wave Function Collapse</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://collapse.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Gitea</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://gitea.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Shinobi</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://shinobi.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-4 col-md-6 project">
              <div class="box">
              <h3>Bitwarden</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://vault.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            </div>
        </div>

        <div class="container text-center md-lg">
          <div class="row">
            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Ethan's Portfolio</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                  https://ethan.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Upload Server</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://upload.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Webhook Server</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://hooks.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Wave Function Collapse</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://collapse.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Gitea</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://gitea.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Shinobi</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://shinobi.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            <div class="col-lg-6 col-md-6 project">
              <div class="box">
              <h3>Bitwarden</h3>
              <div class="item-padding"></div>
              <div class="slider" style="visibility: hidden;">
                <span class="text-success">copied</span>
              </div>
              <p class="link">
                https://vault.armstronglabs.net
              </p>
              
              
            </div>
            </div>

            </div>
        </div>
      </div>
    </main>

    <footer class="footer">
    </footer>

    <div class="scroll-container">
    <div class="scroll-top">
      <a aria-label="Scroll up" href="#top">
        <i aria-hidden="true" class="fas fa-arrow-up"></i>
      </a>
    </div>
    </div>
  </body>
</html>